body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    text-align: center;
    border-style: double;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(255, 230, 250);
}
.register{
    border-style: groove;
    width: 30vw;
    border-radius: 10px;
    background-color: rgb(255, 247, 241);
}
.login{
    border-style: groove;
    width: 30vw;
    border-radius: 10px;
    background-color: rgb(255, 247, 241);
}
.update{
    border-style: groove;
    width: 30vw;
    border-radius: 10px;
    background-color: rgb(255, 247, 241);
}
.delete{
    border-style: groove;
    width: 30vw;
    border-radius: 10px;
    background-color: rgb(255, 247, 241);
}
#adiciona{
    background-color: rgb(255, 185, 255);
    border-radius: 7px;
}
#logar{
    background-color: rgb(255, 185, 255);
    border-radius: 7px;
}
#atualiza{
    background-color: rgb(255, 185, 255);
    border-radius: 7px;
}
#exclui{
    background-color: rgb(255, 185, 255);
    border-radius: 7px;
}
input{
    border-radius: 10px;
    height: 20px;
    /* width: 200px; */
}